* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(70, 72, 73);
  color: rgb(238, 238, 238);
  font-size: 30px;
}
.name_lastname {
  margin: 20px;
}
.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.user_age {
  display: flex;
  gap: 15px;
}
.age_label {
  margin-right: 30px;
}
.age_number {
  width: 30px;
}
